# Node
node_modules/
dist/
build/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.sqlite
*.db

# Environment & Logs
.env
.env.local
.env.production
.env.staging
*.log

# AWS CDK & Infrastructure
cdk.out/
.aws/
infra/aws/cdk.out/
infra/aws/node_modules/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
