# Node
node_modules/
dist/
build/
.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
*.sqlite
*.db

# Environment & Logs
.env
.env.local
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
